.table-of-content-item {
    display: flex;
    flex-direction: column;
    padding: 4px 0px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    gap: 2;
    @apply rounded-lg;

    .title {
        flex: 1;
        vertical-align: middle;
    }

    .content {
        will-change: transform, opacity, height;
        margin-left: 6px;
        padding: 0px 0px 0px 14px;
        overflow: hidden;
    }

    .toggle {
        width: 1em;
        height: 1em;
        margin-right: 10;
        cursor: pointer;
        vertical-align: middle;
    }
}
