.mdxeditor {
    overflow: auto;
}

.mdxeditor .mdxeditor-toolbar {
  background-color: white;
  border-bottom: 1px solid #eaeaea;
  border-radius: 0px;
}

.prose-editor {
  font-size: 1rem;
  line-height: 1.6;
}

.prose-editor h1, .prose-editor h2, .prose-editor h3, .prose-editor h4, .prose-editor h5, .prose-editor h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.prose-editor p {
  margin-bottom: 1.5rem;
}

.prose-editor blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
}

.prose-editor ul, .prose-editor ol {
  margin-bottom: 1.5rem;
}

.prose-editor ul, ol {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.prose-editor ul li, ol li {
  position: relative;
  padding-left: 2rem;
}

.prose-editor ul li::before, ol li::before {
  position: absolute;
  left: 0;
}

.prose-editor pre {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
}

.prose-editor a {
  color: #1a0dab;
  text-decoration: none;
}

.prose-editor a:hover {
  text-decoration: underline;
}
