/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-background: #171717;
  --primary-foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    --background: #ffffff;
    --foreground: #171717;

    --primary-background: #171717;
    --primary-foreground: #ffffff;

    --secondary-background: #464646;
    --secondary-foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.root-container {
  @apply flex flex-row w-screen h-screen;
}

.root-content {
  @apply flex flex-col w-full h-full;
}

.wi-primary-colors {
  color: var(--primary-foreground);
  background-color: var(--primary-background);
}

.wi-secondary-colors {
  color: var(--secondary-foreground);
  background-color: var(--secondary-background);
}
